<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC "-//Hibernate/Hibernate Configuration DTD 3.0//EN" "http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
    <session-factory>

        <!-- JDBC connection pool (use the built-in) -->
        <property name="connection.shutdown">true</property>
        <!-- SQL dialect -->
        <!-- Echo all executed SQL to stdout -->
        <property name="show_sql">false</property>
        <property name="hibernate.query.substitutions">true 'Y', false 'N'</property>

        <!-- Drop and re-create the database schema on startup -->
        <mapping resource="com/ism/urm/vo/rule/request/Request.hbm.xml" />
        <mapping resource="com/ism/urm/vo/rule/request/RequestHistory.hbm.xml" />
        <mapping resource="com/ism/urm/vo/rule/system/AppSystem.hbm.xml" />
        
        <mapping resource="com/ism/urm/vo/rule/mapping/DataMap.hbm.xml" />
        <mapping resource="com/ism/urm/vo/rule/mapping/DataMapLine.hbm.xml" />
        <mapping resource="com/ism/urm/vo/rule/mapping/DataMapValue.hbm.xml" />
        
        <mapping resource="com/ism/urm/vo/rule/data/Data.hbm.xml" />
        <mapping resource="com/ism/urm/vo/rule/data/Field.hbm.xml" />
  
        <mapping resource="com/ism/urm/vo/manage/CommonCode.hbm.xml" />
        <mapping resource="com/ism/urm/vo/manage/BusinessCode.hbm.xml" />
        <mapping resource="com/ism/urm/vo/manage/User.hbm.xml" />
        <mapping resource="com/ism/urm/vo/manage/Auth.hbm.xml" />
        
        

    </session-factory>
</hibernate-configuration>