.urm-menu {
  display: flex;
  border-bottom: 1px solid #e8e8e8;
}

.urm-menu div.urm-logo {
  display: flex;
  background-color: #fff;
  padding: 7px;
  width: 265px;
  border-right: 1px solid #e8e8e8;
  border-bottom: 1px solid #e8e8e8;
}

.urm-logo span {
  margin-left: 15px;
  font-weight: bold;
  color: #000;
  line-height: 30px;
  vertical-align: middle;
}

.urm-panel {
  margin: 0 30px;
  min-width: 1080px;
}

.urm-modal .ant-modal-body {
  padding-top: 30px;
}

/* search bar */
.advanced-search-bar, .search-bar {
  border: 1px solid #aab3b3;
  margin: 10px 0;
  background-color: #e6f7ff;
}

.advanced-search-bar div.ant-form-item-label,
.urm-editor div.ant-form-item-label {
  width: 120px;
}

.search-bar div.ant-form-item-label {
  margin-left: 15px;
}

.advanced-search-bar .search-id, .search-bar .search-id {
  width: 135px;
}

.advanced-search-bar .search-name, .search-bar .search-name {
  width: 180px;
}

.search-buttons {
  margin-left: auto;
  margin-right: 15px;
}


/* list */
.urm-list .urm-paging {
  text-align: center;
  margin-top: 15px;
}

.urm-list .ant-table-small > .ant-table-content > .ant-table-scroll >
.ant-table-body > table > .ant-table-tbody > tr > td.operations {
  padding: 1px 8px;
  text-align: center;
}


/* editor */
.urm-editor > .editor-buttons {
  text-align: right;
  margin-top: 10px;
}

.urm-editor .size-id {
  width: 135px;
}

.urm-editor .size-name {
  width: 150px;
}

.urm-editor .urm-remark {
  width: 390px;
  height: 100px;
}

.urm-upload {
  display: flex;
}

.urm-upload .ant-upload-list {
  order: 1;
  width: 200px;
  height: 24px;
  margin-top: 8px;
  border: 1px solid #d9d9d9;
  border-radius: 4px;
}

.urm-upload .ant-upload-list .ant-upload-list-item {
  margin-top: 0;
}

.urm-upload .ant-upload-select {
  order: 1;
  margin-top: 8px;
}

.data-query {
  margin-left: 120px;
}

.data-query textarea.ant-input {
  width: 830px;
  height: 100px;
}

/* datamap */
.map-tree > .ant-tree {
  border: 1px solid #e8e8e8;
  height: 300px;
}

.map-tree .title {
  padding: 3px 10px;
  border: 1px solid #cecece;
  background-color: #e8e8e8;
  font-weight: 500;
}

.map-tree .title:first-child {
  border-top-left-radius: 5px;
}

.map-tree .title:last-child {
  border-top-right-radius: 5px;
}

.dVal {
  display: inline-flex;
  padding-left: 15px;
  width: 100px
}

.dVal > input {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-variant: tabular-nums;
  list-style: none;
  -webkit-font-feature-settings: 'tnum';
  font-feature-settings: 'tnum', "tnum";
  position: relative;
  display: inline-block;
  color: rgba(0, 0, 0, 0.65);
  font-size: 14px;
  line-height: 1.5;
  background-color: #fff;
  background-image: none;
  border: 1px solid #d9d9d9;
  border-radius: 4px;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  
  height: 24px;
  padding: 1px 7px;
  width: 100px;
}

<<<<<<< HEAD
.editable-row:hover .editable-cell-value-wrap {
  border: 1px solid #d9d9d9;
  border-radius: 4px;
  padding: 4px 11px;
}


/* user쪽 css 주석 달기 */
=======
.urm-editor .src-id .ant-form-item-label {
  width: 60px;
  margin-left: 5px;
}

.urm-editor .tgt-id .ant-form-item-label {
  order: 1;
  width: 60px;
  margin-right: 5px;
}


/* editable table */
.editable-row .ant-form-item {
  margin: 0;
}

.editable-row .ant-form-item .ant-form-item-control{
  line-height: inherit;
}

>>>>>>> branch 'master' of https://dev.solulink.co.kr/gitlab/ism30/URM-html.git
