body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


/* flex */
div.row {
  display: flex;
}

div.half-row {
  flex: 1;
}

/* custom antd */
div.ant-table-body {
  margin: 0;
}

div.table-striped tr:nth-child(2n) > td {
  background-color: #fafafa;
}

.urm-panel .ant-table-small > .ant-table-content > .ant-table-scroll >
.ant-table-body > table > .ant-table-tbody > tr > td {
  padding: 5px 8px;
}

/* urm */
.urm-menu {
  display: flex;
  border-bottom: 1px solid #e8e8e8;
}

.urm-menu div.urm-logo {
  display: flex;
  background-color: #fff;
  padding: 7px;
  width: 265px;
  border-right: 1px solid #e8e8e8;
  border-bottom: 1px solid #e8e8e8;
}

.urm-logo span {
  margin-left: 15px;
  font-weight: bold;
  color: #000;
  line-height: 30px;
  vertical-align: middle;
}

.urm-panel {
  margin: 0 30px;
  min-width: 1080px;
}

