.hide {
  display: none;
}

.center {
  text-align: center;
}

input[type=text]:-moz-read-only { /* For Firefox */
  background-color: #f8f8f8;
}

input[type=text][readonly] { /* For IE */
  background-color: #f8f8f8;
}

input[type=text]:read-only {
  background-color: #f8f8f8;
}

textarea:-moz-read-only { /* For Firefox */
  background-color: #f8f8f8;
}

textarea[readonly] { /* For IE */
  background-color: #f8f8f8;
}

textarea:read-only {
  background-color: #f8f8f8;
}

/* flex */
div {
  &.row {
    display: flex;
    
    /* custom antd */
    div.ant-form-item {
      display: inline-flex;
      margin-bottom: 0;
    }
  }
  &.inline {
    display: inline-flex;
  }
  &.col-1 {
    flex: 1;
  }
  &.col-2 {
    flex: 2;
  }
  &.col-3 {
    flex: 3;
  }
  &.flex-right {
    margin-left: auto;
  }
}

/* custom antd */
div.ant-table-body, .ant-table-small > .ant-table-content > .ant-table-body {
  margin: 0;
}

div.table-striped tr:nth-child(2n) > td {
  background-color: #f8f8f8;
}

div.urm-list .ant-table-small > .ant-table-content > .ant-table-scroll >
.ant-table-body > table > .ant-table-tbody > tr > td,
div.urm-list .ant-table-small > .ant-table-content > .ant-table-body >
table > .ant-table-tbody > tr > td {
  padding: 5px 8px;
}

span.ant-modal-close-x {
  height: 38px;
  line-height: 45px;
}

body, .ant-menu, .ant-form label, .ant-input, .ant-select, .ant-table,
.ant-menu-vertical .ant-menu-item, .ant-btn, .ant-form-item, .ant-time-picker-input {
  font-size: 16px;
}

.ant-input-sm, .ant-select-sm .ant-select-selection--single,
.ant-btn-sm, .ant-btn-icon-only.ant-btn-sm,
.ant-time-picker-small .ant-time-picker-input {
  height: 28px;
}

.ant-btn-danger {
  color: #ff4d4f;
  background-color: #fff;
}

.ant-btn-primary {
  color: #1890ff;
  background-color: #fff;
}

div.urm-list .ant-tabs-bar {
  margin-bottom: 0;
}

/* urm */
.urm-panel {
  margin: 0 30px;
  min-width: 1300px;
}

.urm-modal .ant-modal-body {
  padding-top: 30px;
}


/* menu */
.urm-menu {
  display: flex;
  border-bottom: 1px solid #e8e8e8;
  
  div.urm-logo {
    display: flex;
    background-color: #fff;
    width: 270px;
    border-right: 1px solid #e8e8e8;
    border-bottom: 1px solid #e8e8e8;
    
    a {
      margin: auto;
      
      span {
        margin-left: 15px;
        font-weight: bold;
        color: #000;
        vertical-align: middle;
      }
    }
  }
  
  div.urm-user {
    margin-left: auto;
    padding: 10px;
    font-weight: bold;
    
    div.user-name {
      display: inline-flex;
      min-width: 40px;
      max-width: 100px;
      margin-right: 10px;
    }
  }
}

.urm-header {
  margin-top: 10px;
  padding-left: 10px;
  font-weight: bold;
}

/* search bar */
.advanced-search-bar, .search-bar {
  border: 1px solid #aab3b3;
  margin-top: 10px;
  background-color: #e6f7ff;

  .search-name {
    width: 180px;
  }
}

.advanced-search-bar {
  div.ant-form-item-label {
    width: 135px;
  }
  
  .search-id {
    width: 140px;
  }
  
  .search-check {
    margin-left: 15px;
    div.ant-form-item-label {
      width: 65px;
    }
  }
}

.search-bar {
  div.ant-form-item-label {
    margin-left: 15px;
  }
  
  .search-id {
    width: 135px;
  }
}

.search-buttons {
  margin-left: auto;
  margin-right: 8px;
}


/* list */
.urm-list {
  .table-striped {
    margin-top: 10px;
  }
  
  .upper-list {
    border: 1px solid #e8e8e8;
    min-height: 400px;

    div.ant-table-placeholder {
      height: 356px;
    }
  }
  
  .urm-paging {
    text-align: center;
    margin-top: 15px;
  }
  
  .ant-table-small > .ant-table-content > .ant-table-scroll >
  .ant-table-body > table > .ant-table-tbody > tr > td.operations,
  .ant-table-small > .ant-table-content > .ant-table-body >
  table > .ant-table-tbody > tr > td.operations {
    padding: 1px 8px;
    text-align: center;
  }
  
  .ant-table-hide-scrollbar {
    -ms-scrollbar-arrow-color: white;
  }
}

.history-popover {
  width: 200px;
  height: 50px;
  overflow: auto;
}


/* editable table */
.editable-row {
  .ant-form-item {
    margin: 0;
    
    .ant-form-item-control{
      line-height: inherit;
    }
  }
}


/* editor */
.urm-editor {
  div.ant-form-item-label {
    width: 135px;
    margin-left: 15px;
  }

  > .editor-buttons {
    text-align: right;
    margin-top: 5px;
  }
  
  .size-id {
    width: 175px;
    
    .ant-radio-wrapper {
      margin-right: 5px;
    }
  }
  
  .size-name {
    width: 220px;
  }
  
  .urm-remark {
    width: 500px;
    height: 145px;
    resize: none;
  }
  
  /* datamap */
  .data-id .ant-form-item-label {
    width: 85px;
    margin-left: 5px;
  }
}

.urm-upload {
  display: flex;
  
  .ant-upload-list {
    width: 200px;
    height: 28px;
    margin-top: 8px;
    border: 1px solid #d9d9d9;
    border-radius: 4px;
    
    .ant-upload-list-item {
      margin-top: 0;
    }
  }
  
  .ant-upload-select {
    order: 1;
    margin-top: 8px;
  }
}

.data-query {
  margin-left: 150px;
  
  textarea.ant-input {
    width: 802px;
    height: 130px;
  }
}


/* datamap */
.map-tree {
  &.src {
    width: 315px;
  }
  
  &.tgt {
    width: 475px;
  }
  
  > .ant-tree {
    border: 1px solid #e8e8e8;
    height: 555px;
    overflow: auto;
  }
  
  .title {
    padding: 3px 10px;
    border: 1px solid #cecece;
    background-color: #e8e8e8;
    font-weight: 500;
    
    &:first-child {
      border-top-left-radius: 5px;
    }
    
    &:last-child {
      border-top-right-radius: 5px;
    }
  }
  
  .ant-tree li .ant-tree-node-content-wrapper {
    padding: 0;
  }
  
  .ant-tree-child-tree .ant-tree-switcher-noop {
    width: 18px;
  }
}

.dVal {
  display: inline-flex;
  margin-left: 5px;
  width: 150px;
  
  > input {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-variant: tabular-nums;
    list-style: none;
    -webkit-font-feature-settings: 'tnum';
    font-feature-settings: 'tnum', "tnum";
    position: relative;
    display: inline-block;
    color: rgba(0, 0, 0, 0.65);
    font-size: 16px;
    line-height: 1.5;
    background-color: #fff;
    background-image: none;
    border: 1px solid #d9d9d9;
    border-radius: 4px;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
  
    height: 24px;
    padding: 1px 7px;
    width: 150px;
  }
}


/* user쪽 css 주석 달기 */
.urm-editor .user-input {
  width: 230px;
}

/* IE9, IE10, IE10+ */
@media screen and (min-width:0\0) {
//, @media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
  /* menu */
  .urm-menu div.urm-logo a {
    margin-top: 12px;
  }
}